body {
   background-color: #C1BDF0;
}

.Quadro {
    margin-left: 597px;
    background-color: rgb(254, 250, 250);
    border-radius: 12px;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 25px 25px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20px;
    background-color: #D1BDF0;
}

.btn {
    background-color: #D1BDF0;
    margin-top: 20px;
    border-radius:5px;
    margin-left:64px
}

.titulo {
    margin-left: 684px;
}

.titulo2 {
    margin-left: 570px;
}

.cor {
    color: red;
}
.Label{
    margin-left:77px;
}
.input {
    margin-left: 16px;
    border-radius:7px;
    width:172px;
    height:30px;
}

