body {
    background-color: #CCE9FF;
}

.Quadro {
    margin-left: 597px;
    background-color: rgb(254, 250, 250);
    border-radius: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px 25px;
    width: 200px;
    border: 20px solid rgb(102, 99, 99);
    border-radius: 20px;
}

.btn {
    background-color: gray;
    margin-top: 20px;
}

.titulo {
    margin-left: 684px;
}

.titulo2 {
    margin-left: 570px;
}

.cor {
    color: red;
}


